<form id="search-bar" action="/search" method="get">
  <input
    id="search"
    type="text"
    name="search"
    placeholder="Search"
    autocomplete="off"
  />
  <button id="search-bar-submit" type="submit">
    <img class="icon" src="/icons/magnifying-glass.svg" />
  </button>
</form>
