<div id="sidebar">
  <h2>Keyboard Inventory</h2>
  <div class="sidebar-section">
    <a class="sidebar-link" href="dashboard">Dashboard</a>
    <a class="sidebar-link underlined" href="add-new">Add new</a>
  </div>
  <h3>Categories</h3>
  <div class="sidebar-section">
    <a class="sidebar-link" href="category/size">Size</a>
    <a class="sidebar-link" href="category/brand">Brand</a>
    <a class="sidebar-link" href="category/switch">Switch</a>
    <a class="sidebar-link" href="category/profile">Profile</a>
    <a class="sidebar-link" href="category/case-material">Case material</a>
  </div>
</div>
