* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Current color theme */
  color-scheme: dark;

  /* Light and Dark mode main text color */
  --text-light: #000000;
  --text-dark: #f2f2f2;

  /* Light and Dark mode alternate text color */
  --alt-text-light: #8c8c8c;
  --alt-text-dark: #a8a8a8;

  /* Light and Dark mode warning text color */
  --warning-text-light: #ee1414;
  --warning-text-dark: #ff6161;

  /* Light and Dark mode search bar color */
  --search-bar-light: #b0b0b0;
  --search-bar-dark: #b0b0b0;

  /* Light and Dark mode main background color */
  --main-bg-light: #ececec;
  --main-bg-dark: #2e2e2e;

  /* Light and Dark mode alt background color */
  --alt-bg-light: #ffffff;
  --alt-bg-dark: #404040;

  /* Light and Dark mode "in stock" button color */
  --in-stock-light: #bdd4ff;
  --in-stock-dark: #bdd4ff; /* TODO */

  /* Light and Dark mode "low stock" button color */
  --low-stock-light: #ffdc5f;
  --low-stock-dark: #ffdc5f; /* TODO */

  /* Light and Dark mode "out of stock" button color */
  --out-stock-light: #ff8d8d;
  --out-stock-dark: #ff8d8d; /* TODO */

  /* Global border radius */
  --app-border-radius: 4px;
}

::placeholder {
  color: light-dark(var(--search-bar-light), var(--search-bar-dark));
}

a:link {
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

body {
  background-color: light-dark(var(--main-bg-light), var(--main-bg-dark));
  color: light-dark(var(--text-light), var(--text-dark));
  margin: 40px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

#sidebar {
  background-color: light-dark(var(--alt-bg-light), var(--alt-bg-dark));
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  width: 300px;
}

#search-bar {
  border: 2px solid light-dark(var(--search-bar-light), var(--search-bar-dark));
  border-radius: var(--app-border-radius);
  background-color: light-dark(var(--alt-bg-light), var(--alt-bg-dark));
  display: flex;
  flex-direction: row;
  max-width: 700px;
  padding: 5px;
}

#search-bar:focus-within,
#search-bar:hover {
  border-color: light-dark(var(--text-light), var(--text-dark));
}

#search-bar input {
  background-color: inherit;
  border: 0px;
  font-size: 20px;
  outline: none;
  width: 100%;
}

#search-bar-submit {
  border: 0px;
  background-color: inherit;
  margin: 0px;
  padding-right: 0px;
}

.icon {
  width: 20px;
  height: 20px;
}

.in-stock-count {
  color: light-dark(var(--alt-text-light), var(--alt-text-dark));
}

.item {
  background-color: light-dark(var(--alt-bg-light), var(--alt-bg-dark));
  border-radius: var(--app-border-radius);
  display: flex;
  flex-direction: column;

  height: 400px;
  width: 250px;
}

.item:hover {
  outline: 2px solid light-dark(var(--search-bar-light), var(--search-bar-dark));
}

.item img {
  height: 250px;
  object-fit: contain;
  margin-top: 4px;
}

.item-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.item-info-lower {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 15px;
}

.sidebar-link.underlined {
  text-decoration: underline;
}
